/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p180@rails31rc/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p180@rails31rc/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p180@rails31rc/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p180@rails31rc/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p180@rails31rc/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-p180@rails31rc/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ruby-1.9.2-p180@rails31rc/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p180@rails31rc/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../.rvm/gems/ruby-1.9.2-p180@rails31rc/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 10, ../sass/screen.sass */
html {
  overflow: none;
}

/* line 13, ../sass/screen.sass */
body {
  background: #fafaf0;
  color: #404040;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, serif;
}

/* line 19, ../sass/screen.sass */
a {
  text-decoration: none;
  color: #0069d6;
}
/* line 22, ../sass/screen.sass */
a:hover {
  text-decoration: underline;
}

/* line 25, ../sass/screen.sass */
p {
  margin: 0 0 15px 0;
}

/* line 28, ../sass/screen.sass */
h1, h2, h3, h4, h5, h6 {
  font-family: "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
  margin: 0px 0 15px 0;
  color: #555555;
  font-style: italic;
  font-weight: normal;
}

/* line 35, ../sass/screen.sass */
h1 {
  text-shadow: 2px 2px 2px #cccccc;
}

/* line 37, ../sass/screen.sass */
h2 {
  text-shadow: 1px 1px 2px #cccccc;
}

/* line 41, ../sass/screen.sass */
#forkme > img {
  z-index: 101;
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

/* line 48, ../sass/screen.sass */
#header {
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(100%, #222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  background-color: #222222;
  background-repeat: repeat-x;
  position: fixed;
  left: 0;
  right: 0;
  height: 40px;
  z-index: 100;
}
/* line 59, ../sass/screen.sass */
#header .logo {
  line-height: 40px;
  font-size: 16pt;
  color: white;
  text-decoration: none;
  margin-left: 15px;
}

/* line 66, ../sass/screen.sass */
#left-nav {
  -moz-box-shadow: 0 10px 20px #777777;
  -webkit-box-shadow: 0 10px 20px #777777;
  -o-box-shadow: 0 10px 20px #777777;
  box-shadow: 0 10px 20px #777777;
  border-right: 1px solid #cccccc;
  position: fixed;
  left: 0;
  top: 40px;
  bottom: 0;
  width: 225px;
  background: #eeeeff;
  overflow-y: auto;
  z-index: 99;
  line-height: 1.25em;
}
/* line 80, ../sass/screen.sass */
#left-nav a {
  font-size: 14px;
}
/* line 82, ../sass/screen.sass */
#left-nav a.current {
  text-decoration: underline;
  cursor: default;
}
/* line 85, ../sass/screen.sass */
#left-nav > ul {
  margin: 25px;
}
/* line 87, ../sass/screen.sass */
#left-nav > ul > li {
  margin-bottom: 10px;
}
/* line 89, ../sass/screen.sass */
#left-nav > ul > li > ol {
  margin-left: 30px;
  list-style-type: circle;
}

/* line 93, ../sass/screen.sass */
#main, #main .section {
  position: fixed;
  left: 225px;
  top: 40px;
  right: 0;
  bottom: 0;
}

/* line 100, ../sass/screen.sass */
#main {
  overflow: hidden;
  overflow-y: auto;
}
/* line 103, ../sass/screen.sass */
#main #doc {
  padding: 10px 25px 1px 50px;
  overflow: auto;
  max-width: 450px;
}
/* line 107, ../sass/screen.sass */
#main #doc .default {
  font-size: 0.75em;
  top: -10px;
  position: relative;
  color: #555555;
}
/* line 112, ../sass/screen.sass */
#main #doc h2 {
  margin-top: 2em;
  font-weight: bold;
}
/* line 115, ../sass/screen.sass */
#main #doc h1, #main #doc h2 {
  margin-bottom: 0.75em;
}
/* line 117, ../sass/screen.sass */
#main #doc p {
  line-height: 1.4em;
  margin-bottom: 0.75em;
}
/* line 120, ../sass/screen.sass */
#main #doc pre, #main #doc p code, #main #doc ul > li > h3 {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  -khtml-border-radius: 0px;
  border-radius: 0px;
  text-shadow: none;
  font: 100% "Courier New", "Andale Mono", monospace;
  font-weight: inherit;
  background-color: #eeeeee;
}
/* line 126, ../sass/screen.sass */
#main #doc pre {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  background: #f7f7ff;
  border: 1px solid #dddddd;
  font-size: 0.9em;
  padding: 5px 10px;
}
/* line 133, ../sass/screen.sass */
#main #doc ul > li p {
  margin: 16px;
}
/* line 135, ../sass/screen.sass */
#main #doc ul > li h3 {
  line-height: 2em;
}
